{$DOMAIN} {
  root source/public
  tls {$TLS}
  gzip
  log stdout

  git {$REPO} {
    path ../
    hook "/update-hook" {$HOOK_SECRET}
    then rm -rf public
    then git submodule update --init --recursive
    then make public
  }

  redir 301 {
    # redirect old URLs
    /2012/03/19/dict-syntax/ /post/{path}
    /2012/03/19/django-test-settings/ /post/{path}
    /2012/03/19/javascript-dates/ /post/{path}
    /2012/05/29/graph-task-dependencies-with-python/ /post/{path}
    /2013/09/13/post-script/ /post/{path}
    /2013/09/13/temptation-of-pypy/ /post/{path}
    /2014/03/20/stl-python-class-complete/ /post/{path}
    /2014/10/16/speed-up-pip-install-with-wheel/ /post/{path}
    /2014/10/29/setattr-your-python-toolbox/ /post/{path}
    /2014/10/30/growing/ /post/{path}
    /2014/11/03/build-modular-command-line-tools-with-click/ /post/{path}
    /2014/11/10/speedy-sets/ /post/{path}
    /2014/12/01/test-apis-properly-with-vcr-py/ /post/{path}
    /2014/12/08/setattr-season-1/ /post/{path}
    /2014/12/28/so-hows-setattr-going/ /post/{path}
    /2015/01/05/im-sick-im-shipping-tomorrow-anyway/ /post/{path}
    /2015/04/10/pyenv-your-python-environment-automated/ /post/{path}
    /2015/06/04/introducing-terraform-py/ /post/{path}

    # reeeeally old URL
    /development/2014/03/20/stl-python-class-complete/ /post/2014/03/20/stl-python-class-complete/

    # RSS stuff
    /rss/                    /index.xml
    /atom.xml                /index.xml
    /feed/index.atom         /index.xml
    /author/brian-hicks/rss/ /index.xml
  }
}