{$DOMAIN} {
  root source/public
  tls {$TLS}
  gzip
  log stdout

  git {$REPO} {
    path ../
    hook "/update-hook" {$HOOK_SECRET}
    then git submodule update --init --recursive
    then hugo
  }
}