/* sizes from http://simplescale.online/?scale_base=16&scale_ratio=2&scale_interval=5 */

/* original selection: https://fonts.google.com/selection?selection.family=Alegreya+Sans+SC|Alegreya+Sans:400,400i,700|Fira+Mono|Oswald:400,500 */
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700|Fira+Mono|Oswald:500');

/***************
  GLOBAL SHTUFF
 ***************/
html {
    font-size: 18px;
    background-color: #FAFAFA;
}

body {
    font-size: 1.125rem;
    line-height: calc(24/18);
    font-family: 'Alegreya Sans', sans-serif;
    color: #4A4A4A;
    padding: 1rem;
}

/* code blocks should be set off from body text */
pre, code {
    font-size: 1rem;
    font-family: 'Fira Mono', monospace;
    font-style: normal;
}
pre {
    margin-left: 1rem;
    overflow-x: auto; /* TODO: just run forever on wide displays */

    /* overflow scrolling gets really annoying on systems where the scrollbar
       shows by default (macOS with an external mouse for instance.) We avoid
       overrunning the text or bumping against the next element by moving the
       bottom of the element down halfway to the next. */
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

/**********
  HEADINGS
 **********/
h1, h2, h3 {
    /* TODO: better fallback */
    font-family: 'Oswald', sans-serif;
}

h1, h2 {
    /* these level headers break the flow of body content, so they're huge,
       narrower, and taller */
    max-width: 28.5rem;

    /* they also should have a nice bottom margin */
    margin-bottom: 2rem;
}

h1, h1 > code {
    /* page titles are huge */
    font-weight: 500;
    font-size: 3.0625rem; /* 49px */
    line-height: calc(56/49);
}
h2, h2 > code {
    font-weight: 500;
    font-size: 2rem; /* 32px */
    line-height: calc(37/32);
}
h3, h3 > code {
    font-weight: 500;
    font-size: 1.33rem; /* 24px */
}

h4, h5, h6 {
    /* anything below this should just be inline text, treated like a
       paragraph. I don't think I've ever used below an h4, so we're probably
       good here. I'll adjust it if I need to! */
    font-weight: 700;
}

/* blockquotes should be in italics */
/* TODO: attribution */
blockquote {
    margin-left: 1rem;
    font-style: italic;
}

/* elements in body text should have a consistent following margin */
ul, ol, p, blockquote { margin-bottom: 1rem; }

ul > li, ol > li { margin-left: 1rem; }

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

a {
    color: #9013FE;
    text-decoration: none;
}

em {
    font-style: italic;
}

/********
  HEADER
 ********/
header.site-header {
    max-width: 38rem;
    display: flex;
    align-items: center;

    margin: 2rem auto 2rem auto;
}
header.site-header a:hover { color: #9013FE; }

/* logo */
header.site-header > a.logo {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    font-weight: 700;
    color: #4A4A4A;
}
header.site-header > a.logo > img {
    margin-right: 0.5rem;
    border-radius: 4px;
}

/* navigation */
header.site-header > nav.main-nav > ol { margin-bottom: 0; }
header.site-header > nav.main-nav > ol > li {
    list-style-type: none;
    margin-left: 0;
    display: inline;
}

a.main-nav-item {
    margin-left: 0.5rem;
    color: #7C7C7C;
    white-space: nowrap;
}
a.main-nav-item.active {
    color: #4A4A4A;
}

@media screen and (max-width: 600px) {
    header.site-header {
        display: block;
    }
    header.site-header > a.logo {
        margin-bottom: 1rem;
    }
    header.site-header > nav.main-nav > ol > li {
        display: block;
    }
    a.main-nav-item:first-child {
        margin-left: 0;
    }
}

/******
  BODY
 ******/
/* headnote */
aside.headnote {
    background: hsla(272, 99%, 44%, .03);
    border: 1px solid hsla(272, 99%, 44%, 1);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

/* article, the main content container (both single and list) */
section, article {
    margin: auto;
    max-width: 38rem;
}

figure {
    max-width: 38rem;
    font-size: 0.875rem;
    line-height: calc(16/14);
    text-align: center;
}
figure > img {
    max-width: 100%;
}

article > p.post-meta {
    font-size: 0.875rem;
    line-height: calc(16/14);
}

article > h2 > a {
    color: #4A4A4A;
}

article > h2 + p.post-meta {
    margin-top: -1rem;
}

hr.before-content {
    width: 40%;
    margin-left: 0;
    background-color: #3023AE;
    background-image: linear-gradient(134deg, #3023AE 0%, #C86DD7 100%);
    height: 1px;
    border: 0;

    /* this serves as a separator, so it gets a little more margin to set off the
       body text */
    margin-bottom: 2rem;
}

article.list + article.list {
    margin-top: 2rem;
}

article > a.read-more:after {
    content: " →";
    margin-left: 5px;
}

/* typeform, for State of Elm */
.typeform-widget {
    max-width: 38rem;
    padding: 1px;
    border: 1px solid #9013FE;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/*************
  SECTION NAV
 *************/
nav.page-nav {
    max-width: 38rem;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

/********
  FOOTER
 ********/
footer.site-footer {
    max-width: 38rem;
    margin: 2rem auto 1rem auto;
}
footer.site-footer:before {
    content: " ";
    display: block;
    height: 1px;
    width: 40%;
    background-color: #3023AE;
    background-image: linear-gradient(134deg, #3023AE 0%, #C86DD7 100%);
    margin-bottom: 1rem;
}
