<!--
<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

 var disqus_config = function () {
     this.page.url = {{.Permalink}};
     this.page.identifier = {{.Source.UniqueID}};
 };

 (function() { // DON'T EDIT BELOW THIS LINE
     if (window.location.hostname === "localhost") {
         return
     }

     var d = document, s = d.createElement('script');
     s.src = '//{{.Site.DisqusShortname}}.disqus.com/embed.js';
     s.setAttribute('data-timestamp', +new Date());
     (d.head || d.body).appendChild(s);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
-->

<p>Comments temporarily disabled due to an overabundance of trackers from Disqus. If you want to add a comment here, <a href="mailto:brian@brianthicks.com">email me</a>.</p>
