<footer class="site-footer">
	<p class="text">&copy; {{ now.Format "2006" }} - {{ .Site.Params.copyright | markdownify }}</p>
</footer>

{{ template "_internal/google_analytics.html" . }}

<!-- Drip -->
<script type="text/javascript">
if (window.location.hostname !== "localhost") {
	var _dcq = _dcq || [];
	var _dcs = _dcs || {};
	_dcs.account = '{{ .Site.Params.drip.account }}';

	(function() {
		var dc = document.createElement('script');
		dc.type = 'text/javascript'; dc.async = true;
		dc.src = '//tag.getdrip.com/{{ .Site.Params.drip.account }}.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(dc, s);
	})();
}
</script>

<script>
// Logs a page to Drip (getDrip.com) by tagging and adding a Drip event
//
// Based on code by Pat Maddox and Eric Davis (thanks!)
//
(function() {
  if (_dcq == undefined) { return }

  var pageName = "{{.Title}}";
  var url = "{{.URL}}";

  // Tag e.g. "Read - The Title of This"
  _dcq.push(["identify", {tags: ["Read", "Read - " + pageName]}]);

  // Add event like "Visited URL"
  _dcq.push(["track", "Visited " + url, {title: pageName, path: url}]);
})();
</script>

<link href="/scripts/highlight/styles/tomorrow.css" rel="stylesheet"/>
<script src="/scripts/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
