<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon" href="http://gravatar.com/avatar/{{.Site.Params.gravatar}}?s=32" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="http://gravatar.com/avatar/{{.Site.Params.gravatar}}?s=180" />

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  </head>
  <body>
    <header>
      <!-- accessibility note: https://www.w3.org/WAI/tutorials/images/decorative/#decorative-image-as-part-of-a-text-link -->
      <a href="{{.Site.BaseURL}}"><img src="http://gravatar.com/avatar/{{.Site.Params.gravatar}}?s=32" alt="" /> {{.Site.Title}}</a>
      <nav class="main-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="main-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}" title="{{.Title}}">{{.Name}}</a>
        {{ end }}
      </nav>
    </header>
    {{ block "main" . }}{{end}}
    <footer>
      {{safeHTML .Site.Params.copyright}}
    </footer>
  </body>
</html>
