<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  </head>
  <body>
    <nav class="main-nav">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <a class="main-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}" title="{{.Title}}">{{.Name}}</a>
      {{ end }}
    </nav>
    {{ block "main" . }}{{end}}
    <footer>
      {{safeHTML .Site.Params.copyright}}
    </footer>
  </body>
</html>
