{{ define "main" }}
  <section class="articles">
    <h1>{{.Title}}</h1>
    {{if ne .Content ""}}<hr class="before-content">{{end}}
    {{.Content}}
    {{if ne .Params.showList false}}
    {{range .Paginator.Pages}}
    <article class="list">
        <h2 class="title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
        <p class="post-meta">
          {{dateFormat "January 2, 2006" .Date}} &middot;
          {{.ReadingTime}} Minute Read &middot;
          <a href="{{.Permalink}}" alt="Permalink for {{.Title}}">∞ Permalink</a>
        </p>
        <hr class="before-content" />
        {{.Summary}}
        <a class="read-more" href="{{.Permalink}}">Read on</a>
    </article>
    {{end}}
    <nav class="page-nav">
      {{$title := .Title}}
      {{with .Paginator.Prev}}<a href="{{.URL}}" title="Newer {{$title}}">Newer {{$title}}</a>{{end}}
      {{with .Paginator.Next}}<a href="{{.URL}}" title="Older {{$title}}">Older {{$title}}</a>{{end}}
    </nav>
    {{end}}
  </section>
{{ end }}
