{{ define "main" }}
  <section class="articles">
    {{partial "headnote.html" .}}
    <h1>{{.Title}}</h1>
    {{if .Content}}<hr class="before-content">{{end}}
    {{.Content}}

    <!-- render a menu if it's specified -->
    {{if .Params.children}}

    {{range where .Site.Pages (printf ".Params.%s" .Params.children.key) .Params.children.value}}
    {{partial "listItem.html" .}}
    {{end}}

    <!-- render a list of content in a paginator by default -->
    {{else if not .Params.hideList}}

    {{range .Paginator.Pages}}
    {{partial "listItem.html" .}}
    {{end}}

    <nav class="page-nav">
      {{$title := .Title}}
      {{with .Paginator.Next}}<a href="{{.URL}}" title="Older {{$title}}">Older {{$title}}</a>{{end}}
      {{with .Paginator.Prev}}<a href="{{.URL}}" title="Newer {{$title}}">Newer {{$title}}</a>{{end}}
    </nav>
    {{end}}
  </section>
{{ end }}
