<h2>"I've been working on this Elm JSON Decoder for days and I haven't made any progress… send help!"</h2>
<p>
  What if you could see how all the pieces of JSON decoders worked together in the bigger picture?
  You'd get out of the desert, and back to shipping your app.
</p>
<p>
  Find your way with <a href="/json-survival-kit">The JSON Survival Kit</a>, a short ebook that shows you the bigger picture of Elm's <code>Json.Decode</code> library.
  Slap your email in the box on this page and I'll send you a sample: <em>Chapter 2: Get What You Need Out of JSON Objects</em>.
</p>
<p>
  If the box isn't showing for you, <a href="https://www.getdrip.com/forms/39659006/submissions/new" data-drip-show-form="39659006" id="json-survival-kit-sample-chapter">click here to make it appear again.</a>
</p>
