<h2>Want More?</h2>
<p>
    Having trouble decoding JSON? Do you get mismatched expectations between the
    code you write and the results you get? It'd be super great to get the
    result you want first time, every time, right? Working with JSON in Elm can
    <em>just work</em> and I'm going to show you how. Every week in October will
    be a new post on how to make your JSON workflow sing, and you can come along
    for the ride! Just slap your email in the box below.
</p>
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup {
    input[type=submit]
}
</style>
<div id="mc_embed_signup">
    <script>
     function signedup() {
         analytics.identify(analytics.user().anonymousId(), {email: document.getElementById("mce-EMAIL").value});
         return analytics.user(return analytics.track('elm email signup', {});
     }
    </script>
    <form action="//setattr.us4.list-manage.com/subscribe/post?u=fa7fac034558813ada05778e6&amp;id=77ad7b94cc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate onsubmit="return signedup();">
        <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7fac034558813ada05778e6_77ad7b94cc" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Send Me Cool Stuff" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
</div>
