<footer class="cta">
  <section>
    <h3>Functional Sets</h3>

    <p>
      This post is part of a series on constructing Sets using functional principles.
    </p>

    <ul>
      {{$currentPage := .Page}}
      {{range (index .Site.Menus "functional-sets")}}{{$page := .Page}}
      <li{{if eq $page.Permalink $currentPage.Permalink}} class="active"{{end}}><a href="{{$page.Permalink}}">{{$page.Title}}</a>{{if eq $page.Permalink $currentPage.Permalink}} (this post){{end}}</li>
      {{end}}
    </ul>
  </section>

  <script async id="_ck_341046" src="https://forms.convertkit.com/341046?v=6"></script>
</footer>
