<footer class="cta">
  <section>
    <h3>Functional Sets</h3>

    <p>
      This post is part of a series on constructing Sets using functional principles.
    </p>

    <!-- <p> -->
    <!--   You can get all the posts by putting your email in the box. -->
    <!--   That way, the posts will be spaced at a reasonable pace. -->
    <!--   You will also get notifications when I release new articles, along with other freebies that I only share with my mailing list. -->
    <!-- </p> -->

    <ul>
      {{$currentPage := .Page}}
      {{range (index .Site.Menus "functional-sets")}}{{$page := .Page}}
      <li{{if eq $page.Permalink $currentPage.Permalink}} class="active"{{end}}><a href="{{$page.Permalink}}">{{$page.Title}}</a>{{if eq $page.Permalink $currentPage.Permalink}} (this post){{end}}</li>
      {{end}}
    </ul>
  </section>

  <script async id="_ck_341046" src="https://forms.convertkit.com/341046?v=6"></script>
</footer>
