<footer class="cta">
  <section>
    <h3>Functional Sets</h3>

    <p>
      This post is part of a series on constructing Sets using functional principles.
    </p>

    <!-- <p> -->
    <!--   You can get all the posts by putting your email in the box. -->
    <!--   That way, the posts will be spaced at a reasonable pace. -->
    <!--   You will also get notifications when I release new articles, along with other freebies that I only share with my mailing list. -->
    <!-- </p> -->

    <ul>
      {{$currentPage := .Page}}
      {{range (index .Site.Menus "functional-sets")}}{{$page := .Page}}
      <li{{if eq $page.Permalink $currentPage.Permalink}} class="active"{{end}}><a href="{{$page.Permalink}}">{{$page.Title}}</a>{{if eq $page.Permalink $currentPage.Permalink}} (this post){{end}}</li>
      {{end}}
    </ul>
  </section>

  <!-- <form action="https://www.getdrip.com/forms/39659006/submissions" method="post" data-drip-embedded-form="39659006"> -->
  <!--   <p>Get the series by email, one per week:</p> -->
  <!--   <div> -->
  <!--     <label for="fields[email]">Email Address</label> -->
  <!--     <input type="email" name="fields[email]" placeholder="you@coolperson.com" value="" /> -->
  <!--   </div> -->
  <!--   <div> -->
  <!--     <input type="submit" name="submit" value="Send Me The Sets Series" /> -->
  <!--   </div> -->
  <!-- </form> -->
</footer>
